<!--
  This template loads for the 'tab.identify' state (app.js)
-->
<ion-view title="About us">
    <ion-content has-header="true" has-tabs="true">
        <div class="padding">
            <p class="padding">Rio'cognized a été pensé et conçu pour vous par Lynxlabs. Lynxlabs est une jeune startups lyonnaise spécialisée dans la reconnaissance d'athletes. N'hésitez pas à venir faire un tour sur notre site où à nous contacter.
            </p>
        </div>
        <div >
            <div class ="row responsive-sd">
                <div class=" col col-50 centrage">
                    <h3 class = "icon ion-home assertive">  Adress</h3>
                    <div >
                        6 Avenue des Art<br>
                            69100 VILLEURBANNE <br>
                            FRANCE
                    </div>
                </div>
                <div class="col col-50 centrage" >
                    <h3 class="icon ion-ios7-chatbubble assertive">  Social</h3>
                    <div >
                        <p class="ion-social-facebook-outline" href="http://www.facebook.com">   Facebook - profil</p><br>
                        <p class="icon ion-social-twitter-outline" href="http://www.twitter.com">   Twitter - @Lynxlabs</p><br>
                        <p class="icon ion-social-googleplus-outline" href="http://www.googleplus.com">   GPlus - Lynxlabs</p><br>
                    </div>

                </div>
            </div>
            <div class ="row responsive-sd">
                <div class="col col-50 centrage">
                    <h3 class="icon ion-email assertive">  Email</h3>
                    <div>lynxlabs.team@gmail.com</div>
                </div>
                <div class="col col-50 centrage" >
                    <h3 class="icon ion-ios7-telephone assertive">  Phone</h3>
                    <div>+33472437952</div>
                </div>
            </div>
        </div>








    </ion-content>
</ion-view>
