<!--
  This template loads for the 'tab.identify' state (app.js)
-->
<ion-view title="'Identify an Athlete'">
  <ion-content has-header="true" has-tabs="true">
      <!--<img ng-src="{{image.url}}">
      <p>{{image.url}}</p>-->

<button camera ng-model='myPicture' class="button button-block button-assertive icon-right ion-camera">
  Take Picture
</button>

<ul ng-repeat="onepic in myPictures">
    <li style="list-style: none">
        <input type="image" 
                  src="{{onepic}}" 
                  width="250" 
                  height="390" 
                  alt="error"/>
    </li>
</ul>

  </ion-content>
</ion-view>