

$assertive:             #BF3826;
$stable:                #3F3F3F;
$light:                 #F3F3F3;

.tab-item .icon{
    color: white;
}

.tab-item .tab-title{
    color: white;
}


.pane, .view {
    background-color: $light;
    //background-image: ;
}
@import "ionic/ionic";

.item-divider{
    background-color: $stable;
    color: $light;
}

ion-side-menu .item .icon{
    color: $assertive;
}

a.item:after, button.item:after{
    color: $assertive;
}